<!--Created another file to deal with invalid urls! -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: URLs Index</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h2>Shortened URL invalid</h2>
    <p>The link you are attempting to create is <b>invalid!</b></p>
    <p>Go to the  <a href="/urls"> Home</a> page </p>
  </body>
</html>