<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <% include partials/_header %>
    <h4>Shorten a New URL</h4>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="Enter URL here">
      <input id="userID" type="hidden" name="userID" value="Enter email here">
      <input type="submit" value="Submit">
    </form>
    <br>Not <i><%= user.email %></i> ?</g>
    <form action ="/logout" method = "POST">
      <input type = "submit" value = "Logout">
    </form>
  </body>
</html>

